.background-header .logo img {
    max-width: 110px;
  }
  
  .header-area {
    position: absolute;
    background-color: transparent;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 100;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
  }
  
  .header-area .main-nav {
    background: transparent;
    display: flex;
  }
  
  .header-area .main-nav .logo {
    position: absolute;  
    left: 45%; 
  }
  
  .header-area .main-nav .logo h1 {
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    margin-right: 30px;
    padding-right: 30px;
    border-right: 1px solid rgba(250, 250, 250, 0.3);
  }
  
  .background-header .main-nav .logo{
    margin-top: 18px;
  }
.home {
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Button styles */
  .home  .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 37px;
  }
  
  /* Image styles */
  .home .button img {
    width: 165px;
    height: 165px;
    display: inline-block;
    background-color: #edf1f5;
    border-radius: 10%;
    transition: all .3s;
  }

  /* Text styles */
  .home .button .image h4{
    font-weight: bold;
    text-align: center;
    color: antiquewhite;
  }
  